[submodule "modules/DisplayDetector"]
	path = modules/DisplayDetector
	url = https://developryu@github.com/developryu/DisplayDetector.git
[submodule "modules/QrScan"]
	path = modules/QrScan
	url = https://developryu@github.com/developryu/QrScan.git
[submodule "modules/Camera"]
	path = modules/Camera
	url = https://developryu@github.com/developryu/Camera.git
